@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

pre{
    white-space: pre-line;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

.normal{
    background-color: white;
}

.imagem{
    background-color: aquamarine;
}

section{
    /*Colocar 10% das vh nas section em cima e em baixo*/
    /*Acho que por isso ela foi declarada no inicio a 100vh*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
}

section.imagem > pre{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.308);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}