@charset "UTF-8";
@font-face {
    font-family: 'titulo';
    src: url(fonts/Passion_One/PassionOne-Bold.ttf)
    format('truetype');    
}
@font-face {
    font-family:'paragrafo';
    src: url(fonts/Sriracha/Sriracha-Regular.ttf)
    format('truetype');
}

body{
    background-color: rgba(250, 169, 77, 0.432);
    font-family: 'paragrafo', Verdana, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 200px;
    position: relative;

}

header > h1{
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    line-height: 10px;
    font-family: 'Titulo';
    font-size: 5em;
    
}
header > p{
    position: absolute;
    color: white;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50% ,-50%);
    margin-top: 10px;
    font-size: 1.2em;

}

a{
    font-weight: 700;
    color: white;
    text-decoration: none;
}


main{
    margin: auto;
    max-width: 900px;
    background-color: rgb(221, 219, 219);
    padding: 20px;
    font-size: 1.8em;
}

#text_01{
    margin-top: 100px;
}

div#image_1{
    position: relative;
    background:black url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
    height: 500px;
}

div#image_2{
    position: relative;
    background:black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 500px;
}

.image_text{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    top: 50%;
    left: 24%;
    transform: translate(-50%,-50%);
}

main > p{
    margin-top: 15px;
    width: 400px;
}